[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/hine/桌面/steam.desktop]
row=3
col=0

[/home/hine/桌面/freepiano.desktop]
row=4
col=0

[回收站]
row=0
col=0

[/]
row=1
col=0

[/home/hine]
row=2
col=0

